* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* primary colors */
  --cyan: hsl(179, 62%, 43%);
  --brightYellow: hsl(71, 73%, 54%);

  /* neutral colors */
  --lightGray: hsl(204, 43%, 93%);
  --grayishBlue: hsl(218, 22%, 67%);

  /* typography */
  --karla: "Karla", open-sans;
}

body {
  font-family: var(--karla);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
