* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* primary colors */
  --cyan: hsl(179, 62%, 43%);
  --brightYellow: hsl(71, 73%, 54%);

  /* neutral colors */
  --lightGray: hsl(204, 43%, 93%);
  --grayishBlue: hsl(218, 22%, 67%);

  /* typography */
  --karla: "Karla", open-sans;
}

body {
  font-family: var(--karla);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--lightGray);
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
    color: var(--cyan);
}

h3 {
    color: #fff;
}

ul li {
    list-style-type: none;
    color: var(--lightGray);
}

section {
  background-color: #fff;
  border-radius: 8px 8px 0 0;
}

article {
    background-color: var(--cyan);
}

button {
    background-color: var(--brightYellow);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 3rem;
}

footer {
    background-color: #0ecaca;
}

section, article, footer {
    padding: 25px;
    width: 300px;
}

.hero-text {
    color: var(--brightYellow);
    font-weight: 700;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
